.green-bg-col {
    width: 800px;
    height: 500px;
    background-color: rgba(76, 219, 150, 0.36);
}

.all-row-flex-start {
    display: flex;
    flex-direction: row;
    align-content: center ;
}

.no-bg-col {
    width: 100px;
    height: 100px;
    border-style: solid;
    border-color: blue;
    text-align: top;
}

.pink-bg-col {
    width: 100px;
    height: 100px;
    background-color: #F89696;
    border-style: solid;
    border-color: blue;
}

.last-box-separated {
    display: flex;
    flex-direction: row;
    align-items: flex-start ;
}

.grow3 {
   display: flex;
   flex-grow: 3;
    
}

.with-left-margin {
    margin-left: 100px;
    width: 100px;
    height: 100px;
    border-style: solid;
    border-color: blue;
}

.four-boxes-as-square {
    width: 300px;
    display: flex;
    flex-flow: row wrap;
}

.with-top-margin-pink {
    margin-top: -20px;
    width: 100px;
    height: 100px;
    border-style: solid;
    border-color: blue;
    background-color: #F89696;
}

.with-top-margin-green {
    margin-top: -20px;
    width: 100px;
    height: 100px;
    border-style: solid;
    border-color: blue;
}


.with-top-margin-pink {
    margin-top: -20px;
    width: 100px;
    height: 100px;
    border-style: solid;
    border-color: blue;
    background-color: #F89696;
}


.four-boxes-as-square-space-between {
    width: 800px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}


.with-top-left-margin-pink {
    margin-top: -120px;
    margin-left: 700px;
    width: 100px;
    height: 100px;
    border-style: solid;
    border-color: blue;
    background-color: #F89696;
}

.with-top-left-margin-green {
    margin-top: -20px;
    margin-left: 100px;
    width: 100px;
    height: 100px;
    border-style: solid;
    border-color: blue;
    
}
.column-flex-start {
    display: flex;
    flex-direction: column;
    align-items: flex-start ;
}

.no-bg-col-left-margin {
    width: 100px;
    height: 100px;
    margin-left: 100px;
    border-style: solid;
    border-color: blue;
    text-align: top;
}