.div1 {
    width: 800px;
    background-color: rgba(76, 219, 150, 0.36);
}

.layout1 {
    display: flex;
    flex-direction: row;
    align-content: center ;
}

.p1 {
    width: 100px;
    height: 50px;
    border-style: solid;
    border-color: blue;
    text-align: top;
}

.p2 {
    width: 100px;
    height: 50px;
    background-color: #F89696;
    border-style: solid;
    border-color: blue;
}

.layout3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start ;
}

.grow3 {
   display: flex;
   flex-grow: 3;
    
}

.p4 {
    margin-left: 100px;
    width: 100px;
    height: 50px;
    border-style: solid;
    border-color: blue;
}

.layout5 {
    width: 300px;
    display: flex;
    flex-flow: row wrap;
}

.p5 {
    margin-top: -20px;
    width: 100px;
    height: 50px;
    border-style: solid;
    border-color: blue;
    background-color: #F89696;
}

.p6 {
    margin-top: -20px;
    width: 100px;
    height: 50px;
    border-style: solid;
    border-color: blue;
}

.layout6 {
    width: 300px;
    display: flex;
    flex-flow: row-reverse wrap-reverse;
    justify-content: space-around;
}


.p7 {
    display: flex;
    align-self: flex-start;
    margin-top: -80px;
    width: 100px;
    height: 50px;
    border-style: solid;
    border-color: blue;
}

.p8 {
    display: flex;
    align-self: flex-end;
    width: 100px;
    height: 50px;
    border-style: solid;
    border-color: blue;
}


